<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h2>Total Balance</h2>
            </div>
            <div class="col-md-5">
              <h2>Rs. {{totalBalance}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h2>Total Outstanding Balance</h2>
            </div>
            <div class="col-md-5">
              <h2>Rs. {{totalOutstandingBalance}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="../../../../assets/images.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Credit Cards</h5>
          <p class="card-text"> View Multiple Cards</p>
          <a href="#" routerLink="/user/cards" class="btn btn-primary">Cards</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="../../../../assets/account.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Add Your Account</h5>
          <p class="card-text"> Add Multiple Credit Cards</p>
          <a href="#" routerLink="/user/account" class="btn btn-primary">Account</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="../../../../assets/shop.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shop Now</h5>
          <p class="card-text">Shop Using Credit Cards</p>
          <a href="#" routerLink="/user/shop" class="btn btn-primary">Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>
