<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h3>Payment Details</h3>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td class="width"><b>Amount Paid</b></td>
            <td>{{paymentDetail.amountPaid}}</td>
          </tr>
          <tr>
            <td class="width"><b>Balance</b></td>
            <td>{{paymentDetail.balance}}</td>
          </tr>
          <tr>
            <td class="width"><b>Bank</b></td>
            <td>{{paymentDetail.bank}}</td>
          </tr>
          <tr>
            <td class="width"><b>Card Number</b></td>
            <td>{{paymentDetail.cardNumber}}</td>
          </tr>
          <tr>
            <td class="width"><b>Category</b></td>
            <td>{{paymentDetail.category}}</td>
          </tr>

          <tr>
            <td class="width"><b>Min Due</b></td>
            <td>{{paymentDetail.minDue}}</td>
          </tr>
          <tr>
            <td class="width"><b>Price</b></td>
            <td>{{paymentDetail.price}}</td>
          </tr>
          <tr>
            <td class="width"><b> Product Name</b></td>
            <td>{{paymentDetail.productName}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
